<% provide(:title, 'Categories'.upcase) %>

<section>
  <% unless @groups.present? %>
    <div>
      <p>You have no categories yet, start by adding one using the button below</p>
    </div>
  <% end %>
  <% @groups.each do |group| %>
    <%= link_to group_payments_path(group.id), class: "box" do %>
        <article>
          <figure>
            <p>
              <img src=<%= group.icon %> class= "icon" >
            </p>
          </figure>
          <div>
            <div>
              <p>
                <strong><%= group.name %></strong>
              </p>
            </div>
            <hr class="my-3">
            <div>
              <div>
                <small>Payments total:
                  <%= number_to_currency(group.payments.sum(:amount)) %></small>
              </div>
            </div>
          </div>
        </article>
    <% end %>
  <% end %>
</section>
<div>
  <%= link_to "Add Category", new_group_path%>
</div>
